version: '3.8'
networks:
  app-network:
    driver: bridge
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_DB: e_commerce
      POSTGRES_USER: sitamvan
      POSTGRES_PASSWORD: sitamvan
  springbootapp:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - postgres

